.txtsect2{
    font-family: "Courgette";
    font-size: 50px;
    color: white;
}
.meet{
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
height: 20vh;
}
.imgchef{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: white 15vw 2vh solid;
}

.divbook{
    width: 100%;
    height: 25vh;
}
.rowfin3{
    height: 5vh;
     width: 100%;
     background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/main_bg.jpg")
 }
.row{
    margin-right: 0% !important;
}
.bookchild3{
height: 10% !important;
}
// salad
.containsalad{
    justify-content: center;
    display: flex;
    width: 100%;
}
.divbook2{
    width: 100%;
}
.relative{
position: relative;

}
.rowsalad{
    width: 70vw;
}

.colu2bis{
    // height: 30vh;
    display: flex;
    // justify-content: center;
    // align-items: flex-start;
}

@media screen and (min-width:1024px) {
    .chef{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/team_background.jpg");
        width: 100%;
        height: 70vh;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .meresalad{
        width: 80%;
        height: 60vh;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
    }
    .radius{
        border-radius: 5px;
        padding : 5px;
    }
    .buttonbook{
        border-radius: 21px;
        border: none;
        padding: 13px;
    }
    .buttonbook2{
        border-radius: 21px;
        border: none;
        padding: 13px;
    }
    .oursalad{
        width: 80%;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .colu2salad{
        width: 50%;
        padding-top: 5vh;
        justify-content: center;
    }
    .imgsalad1{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        // width: 67%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .imgsalad2{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        // width: 67%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .absolute{
        position: absolute;
        top: 255px;
        left: 134px;
        border-radius: 21px;
        border: none;
        padding: 5px;
        }
    .yo{
        border-radius: 5px;
        height: 1vh;
        width: 5vw
    }
    .bookchild1{
        height: 10% !important;
        }
        .bookchild2{
            height: 60% !important;
            width:60%;
            align-items: unset !important;
            margin-left: 2vw !important;
            margin-top: 6vh;
            }
    .imgblog1{
        padding-left: 41px;
    }
    .imgblog2{
        padding-left: 41px
    }
    .imgbook{
        border-radius: 3%;
        padding-top: 5vh;
        width: 67%;
        height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .oursalad{
        width: 80%;
        background-color: white;
        display: flex;
        justify-content: center;
       
    }
    
    .rowbook{
        width: 80%;
        height: 60vh;
        justify-content: center;
        display: flex;
        padding-top: 5vh;
    }
    .containbook{
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

@media screen and (min-width:600px) and (max-width:1023px){
    .chef{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/team_background.jpg");
        width: 100%;
        height: 177vh;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .meresalad{
        width: 80%;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
    }
    .radius{
        border-radius: 5px;
        padding : 5px;
    }
    .buttonbook{
        border-radius: 21px;
    border: none;
    padding: 10px;
    margin-left: 1vw;
    /* margin-bottom: 1vh; */
    margin-top: 1vh;
    }
    .buttonbook2{
        border-radius: 21px;
    border: none;
    padding: 10px;
    margin-left: 1vw;
    /* margin-bottom: 1vh; */
    margin-top: 1vh;
    margin-left: 24vh !important;
    }
    .oursalad{
        width: 80%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin:0%;
    }
    .txt_centermd{
        text-align: center;
    }
    .colu2salad{
        width: 50%;
        padding-top: 5vh;
        justify-content: center;
    }
    .absolute{
        position: absolute;
        top: 255px;
        left: 134px;
        border-radius: 21px;
        border: none;
        padding: 5px;
        }
    .imgsalad1{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        // width: 67%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .imgsalad2{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        // width: 67%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .yo{
        border-radius: 5px;
        height: 1vh;
        width: 5vw
    }
    .bookchild1{
        height: 10% !important;
        }
        .bookchild2{
            height: 60% !important;
            width:60%;
            align-items: unset !important;
            margin-left: 2vw !important;
            margin-top: 6vh;
            }
    .imgblog1{
        padding-left: 41px
    }
    .imgblog2{
        padding-left: 41px
    }
    .imgbook{
        border-radius: 3%;
        padding-top: 5vh;
        width: 67%;
        height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .rowbook{
        width: 80%;
        height: 60vh;
        justify-content: center;
        display: flex;
        padding-top: 5vh;
    }
    .containbook{
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

@media screen and (min-width:320px) and (max-width:599px){
    .chef{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/team_background.jpg");
        width: 109%;
        height: 235vh;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .sec_book{
        height: 85vh;
    }

    .radius{
        border-radius: 5px;
        padding : 5px;
        // width: 39vw;
    }
    .buttonbook{
        border-radius: 21px;
        border: none;
        padding: 13px;
        margin-bottom: 3vh;
    }
    .buttonbook2{
        border-radius: 21px;
        border: none;
        padding: 13px;
        margin-bottom: 3vh;
    }
    .meresalad{
        width: 80%;
        height: 60vh;
        padding-top: 5vh;
        display: flex;
        justify-content: center;
    }
    .imgsalad1{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        width: 113%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .imgsalad2{
        border-radius: 3%;
        border: solid lightgrey 5px;
        margin-bottom: 2vh;
        width: 113%;
        // height: 96%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .colu2salad{
        padding-top: 5vh;
        justify-content: center;
    }
    .absolute{
        position: absolute;
        top: 119px;
        left: 12px;
        border-radius: 21px;
        border: none;
        padding: 5px;
        }
    .yo{
    width: 50%;
    margin: -5vh;
    display: flex;
    border-radius: 5px;
    height: 1vh;
    width: 5vw;
    flex-wrap: wrap;
    padding: 2vh;
    }
    .bookchild1{
        height: 10% !important;
        margin: 0 10vw;
        }

    .bookchild2{
    flex-direction: column;
    margin: 2vh;
    height: 70% !important;
    // width: 99%;
    align-items: unset !important;
    margin-left: 26vw !important;
    margin-top: 6vh;
        }
        
    .imgblog1{
        padding-left: 0;
    }
    .imgblog2{
        padding-left: 0;
    }
    .imgbook{
        border-radius: 3%;
        padding-top: 5vh;
        width: 100%;
        height: 140%;
        // background-attachment: fixed;
        background-position: center;
        background-size:cover;
        background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
    }
    .rowbook{
        width: 95%;
        height: 60vh;
        justify-content: center;
        display: flex;
    }
    .containbook{
        justify-content: center;
        display: flex;
        width: 109%;
        margin-top: 24vh;
    }
}