.bg_contact{
    background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/main_bg.jpg");

    width: 100%;
    height: 80vh;
    position: relative;
}

.border_btm{
    border-bottom: white solid 1px;
}
.mapicon{
    font-size: 50px;
}
footer{
    height: 10vh;
    width: 100%;
}

.btnfin{
    border-radius: 21px;
    border: none;
    padding: 5px;
}

@media screen and (min-width:1024px) {
    .bg_insta{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/footer_bottom_decoration_img.png");
    
        width: 100%;
        height: 3vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .iconfin{
        font-size: 35px;
    }
    .winsta{
        width: 33%;
        height: 100%;
        flex-direction: column;
    }
    .contactdanger{
        border-radius: 5px;
        padding : 55px;
        height: 35vh;
        width:40vw;
    }
}

@media screen and (min-width:600px) and (max-width:1023px){
    .bg_insta{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/footer_background.jpg");
    
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .iconfin{
        font-size: 35px;
    }
    .winsta{
        width: 33%;
        height: 100%;
        flex-direction: column;
    }
    .contactdanger{
        border-radius: 5px;
        padding : 55px;
        height: 35vh;
        width:40vw;
    }
}

@media screen and (min-width:320px) and (max-width:599px){
    .bg_insta{
        background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/footer_background.jpg");
    
        width: 100%;
        height: 247vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .iconfin{
        font-size: 29px;
    }
    .winsta{
        width: 33%;
        height: 100%;
    }
    .contactdanger{
        border-radius: 5px;
        padding : 55px;
        height: 50vh;
        width: 94vw;
    }
}