.chef{
    background-image: url("/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/team_background.jpg");
    width: 100%;
    height: 70vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.txtsect2{
    font-family: "Courgette";
    font-size: 50px;
    color: white;
}
.meet{
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
height: 20vh;
}
.imgchef{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: white 15vw 2vh solid;
}

.divbook{
    width: 100%;
    height: 25vh;
}

.row{
    margin-right: 0% !important;
}
.containbook{
    justify-content: center;
    display: flex;
    width: 100%;
}
.rowbook{
    width: 80%;
    height: 60vh;
    justify-content: center;
    display: flex;
    padding-top: 5vh;
}
.imgbook{
    border-radius: 3%;
    padding-top: 5vh;
    width: 67%;
    height: 96%;
    // background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
}
.bookchild1{
height: 10% !important;
}
.bookchild2{
height: 60% !important;
width:60%;
align-items: unset !important;
margin-left: 2vw !important;
margin-top: 6vh;
}
.bookchild3{
height: 10% !important;
}
.yo{
    border-radius: 5px;
    height: 1vh;
    width: 5vw
}
.radius{
    border-radius: 5px;
    padding : 5px;
}
.buttonbook{
    border-radius: 21px;
    border: none;
    padding: 13px;
}
// salad
.containsalad{
    justify-content: center;
    display: flex;
    width: 100%;
}
.oursalad{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.divbook2{
    width: 100%;
}

.meresalad{
    width: 80%;
    height: 60vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}
.relative{
position: relative;

}
.absolute{
position: absolute;
top: 255px;
left: 134px;
border-radius: 21px;
border: none;
padding: 5px;
}
.imgsalad1{
    border-radius: 3%;
    margin-bottom: 2vh;
    // width: 67%;
    // height: 96%;
    // background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
}
.imgsalad2{
    border-radius: 3%;
    margin-bottom: 2vh;
    // width: 67%;
    // height: 96%;
    // background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-image: url(/home/molengeek/Bureau/coding-school/15_SITE_DU_CHEF/site_du_chef/public/images/book_table_bg.jpg);
}
.rowsalad{
    width: 70vw;
}

.colu2bis{
    // height: 30vh;
    display: flex;
    // justify-content: center;
    // align-items: flex-start;
}

@media screen and (min-width:1024px) {
    .imgblog1{
        padding-left: 41px;
    }
    .imgblog2{
        padding-left: 41px
    }
}

@media screen and (min-width:600px) and (max-width:1023px){
    .imgblog1{
        padding-left: 41px
    }
    .imgblog2{
        padding-left: 41px
    }
}

@media screen and (min-width:320px) and (max-width:599px){
    .imgblog1{
        padding-left: 0;
    }
    .imgblog2{
        padding-left: 0;
    }
}